---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/api.css' | relative_url }}">
  </head>
  <body>
    {% include skiplink.html %}
    {% include topnav.html %}
    <main id="content">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
  </body>
</html>
